
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Breadcrumb -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <span class="breadcrumb-item active" href="#">Hồ sơ</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-12">
            <div class="user-tab bg-light d-flex flex-column mb-30">
                <a href="/User/Info" class="user-tab__item text-dark p-2">
                    <i class="fas fa-user me-2"></i>Thông tin tài khoản
                </a>
                <a href="/User/ChangePassword" class="user-tab__item text-dark p-2 active">
                    <i class="fas fa-lock me-2"></i>Đổi mật khẩu
                </a>
                <a href="/User/Order" class="user-tab__item text-dark p-2">
                    <i class="fas fa-shopping-bag me-2"></i>Đơn hàng
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-12">
            <div class="bg-light p-30">
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "user-password" }))
                {
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Mật khẩu cũ</label>
                            @Html.Password("txtOldPassword", "", htmlAttributes: new { @class = "form-control shadow-none rounded-0" })
                            <span class="text-danger">@ViewBag.errorMessageOldPass</span>
                        </div>
                        <div class="col-12 form-group">
                            <label>Mật khẩu mới</label>
                            @Html.Password("txtNewPassword", "", htmlAttributes: new { @class = "form-control shadow-none rounded-0" })
                        <span class="text-danger">@ViewBag.errorMessageNewPass</span>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-0 shadow-none">Cập nhật</button>
                }
            </div>
        </div>
    </div>
</div>